#Import packages dependencies
import(GenomicFeatures)
import(ggplot2)
import(BiocParallel)
import(methods)

import(Matrix)

import(ggfortify)
import(IVAS)
import(survival)
import(lattice)
import(grid)
importFrom(doParallel,registerDoParallel)
importFrom(parallel,stopCluster,makeCluster)
importFrom(Rsamtools,ScanBamParam,scanBam)
importFrom(lme4,glmer)
importFrom(foreach,foreach,"%dopar%")
importFrom(AnnotationDbi,select)
importFrom(GenomicFeatures,exonsBy,intronsByTranscript,isActiveSeq,"isActiveSeq<-")
importFrom(GenomicAlignments,readGAlignments,extractAlignmentRangesOnReference,njunc,cigar)
importFrom(GenomicRanges,GRanges,elementMetadata,reduce,disjoin)
importFrom(IRanges,IRanges,findOverlaps,start,end)
importFrom(BiocGenerics,strand,unlist)
importFrom(GenomeInfoDb,seqinfo,seqlevels,seqnames)

importFrom(utils,write.table,methods,combn)

importFrom(methods,slot,new,setClass,representation,setMethod,slotNames)

importFrom(gridExtra,grid.arrange,tableGrob,ttheme_default,arrangeGrob)
importFrom(graphics,boxplot)

importFrom(grDevices,png,dev.off,colorRampPalette,pdf)
importFrom(stats,chisq.test,median,lm,pf,na.exclude,binomial,anova,pchisq,kmeans,p.adjust,coef,t.test)
importMethodsFrom(Matrix,as.matrix)

#importMethodsFrom(utils,methods,slot,new,setClass,representation,setMethod,slotNames)
importMethodsFrom(BiocGenerics)
importMethodsFrom(S4Vectors,Rle)

#importClassesFrom(IVAS,ASdb)

#Export all names
export(
ClinicAnalysis,
CompGroupAlt,
ExonsCluster,
MEsQTLFinder,
RatioFromReads,
ASvisualization,

SplicingReads
)

